.App-header {
    background-color: #282c34;
    min-height: 0vh;
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: flex-end;
    padding: 10px;

    font-size: calc(15px + 2vmin);
    color: white;
  }
.App-row{
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}  